mixin catalog-item(icon__src, title, price, params = {})
    - modifiers = 'catalog-item '
    - if ('modifiers' in params)
        - modifiers += params.modifiers
    - modifiers += ('old_price' in params) ? ' catalog-item--discount' : ''

    article(class=modifiers)
        a(href='#')
            header
                img(src=icon__src)

                - if ('info' in params)
                    .catalog-item__info-messages
                        - for (const item of params.info)
                            .catalog-item__message(class=item.theme)= item.text

                - if ('icons' in params)
                    .catalog-item__control-icons
                        each value, key in params.icons
                            - icon_modifiers = key + (value ? ' active' : '')
                            button(class=icon_modifiers)

                a.btn.catalog-item__add-to-card Add To Cart

        a(href='#').catalog-item__title!= title

        footer
            .catalog-item__price!= price
            - if ('old_price' in params)
                .catalog-item__old-price!= params.old_price

            - if ('progress' in params)
                - progress_value = params.progress.value ?? 100
                - reviews_count = params.progress.reviews_count ?? 65
                +rating(progress_value, reviews_count)

            - if ('colours' in params)
                div.catalog-item__colours
                    - for (let i = 0; i < params.colours.length; ++i)
                        - background = 'background-color: ' + params.colours[i] + ';'

                        - if (i === 0)
                            .colour__wrapper.active
                                .colour(style=background)
                        - else
                            .colour__wrapper
                                .colour(style=background)